.khung
    {
        width: 500px;
        height: 500px;
        border: 1px solid #ccc;
        margin: 20px;
        float: left;
    }
.hinh0
    {
        width: 200px;
        height: 200px;
        background-color: deeppink;
        margin: 150px auto;
    }  
.hinh0:hover
    {
        height: 500px;
        width: 200px;
        background-color: blue;
        border-radius: 50px;
        transition-property: height;
        transition-timing-function: cubic-bezier(.19,.94,1,.35);
        transition-duration: 10s;
        transition-delay: 2s;
    }
.hinh1
    {
        width: 200px;
        height: 200px;
        background-color: deeppink;
        margin: 150px auto;
        transform: rotate(45deg);
    }
.hinh2
    {
        width: 200px;
        height: 200px;
        background-color: deeppink;
        margin: 150px auto;
        transform: rotateY(45deg);
    }
.hinh3
    {
        width: 200px;
        height: 200px;
        background-color: deeppink;
        margin: 150px auto;
        transform: scale(1.5);
    }
.hinh4
    {
        width: 200px;
        height: 200px;
        background-color: deeppink;
        margin: 150px auto;
        transform: skew(30deg,45deg);
    }
.hinh5
    {
        width: 200px;
        height: 200px;
        background-color: deeppink;
        margin: 150px auto;
        transform: scale(1.5) skew(75deg, 30deg) translate(-100px,100px);
    }
.hinh6
    {
        width: 100px;
        height: 100px;
        background-color: cornflowerblue;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
.khung2
    {
        width: 1200px;
        height: 800px;
        margin: 0 auto;
        background-color: #ccc;
        position: relative;
    }
.hinh7
    {
        width: 100px;
        height: 100px;
        background-color: chartreuse;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
