.container
    {
        width: 1200px;
        background-color: #ccc;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
.item
    {
        width: 100px;
        height: 80px;
        background-color: darkgreen;
        margin: 10px;
    }