*
    {
        box-sizing: border-box;
    }
body
    {
        margin: 0;
    }
h1, h2, h3, h4, h5, h6, p
    {
        margin: 0;
    }
a
    {
        text-decoration: none;
    }
ul, ol
    {
        padding: 0;
        margin: 0;
        list-style: none;
    }
.container
    {
        width: 1320px;
        margin: 0 auto;
    }
.col-1
    {
        width: 8.333%;
    }
.col-2
    {
        width: 16.666%;
    }
.col-3
    {
        width: 25%;
    }
.col-4
    {
        width: 33.333%;
    }
.col-5
    {
        width: 41.666%;
    }
.col-6
    {
        width: 50%;
    }
.col-7
    {
        width: 58.333%;
    }
.col-8
    {
        width: 66.666%;
    }
.col-9
    {
        width: 75%;
    }
.col-10
    {
        width: 83.333%;
    }
.col-11
    {
        width: 91.666%;
    }
.col-12
    {
        width: 100%;
    }
[class*="col-"]
    {
        padding: 0 12px;
    }
.d-float
    {
        float: left;
    }
.d-flex
    {
     display: flex;   
    }
.row
    {
        display: flex;
        flex-wrap: wrap;
    }
.clear
    {
        clear: both;
    }
.w-100
    {
        width: 100%;
    }